* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    width: 100%;
}

.body {
    background-color: #fff;
    /* width: 800px; */
    width: 80%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    position: relative;
    margin: 0 auto;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.head img {
    margin-right: 10px;
}

.head h1 {
    font-size: 36px;
    color: #303030;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.heading img {
    margin-right: 10px;
}

.heading p {
    font-size: 24px;
    color: #303030;
}

.heading p span {
    font-weight: bold;
    color: #3088e0;
}

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.main-heading h2 {
    font-size: 24px;
    color: #303030;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.searchWrapper {
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

.search {
    position: relative;
    width: 300px;
    margin-right: 10px;
}

.search input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f8f8f8;
    font-size: 18px;
    color: #303030;
    outline: none;
}

.search i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #3088e0;
}

.btn {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    color: #fff;
    background-color: #3088e0;
    cursor: pointer;
}

.btn:not(:last-child) {
    margin-right: 10px;
}

.btn.focus {
    background-color: #505050;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.center,
.city,
.state {
    width: 33%;
    text-align: center;
}

.center h1,
.city h1,
.state h1 {
    font-size: 20px;
    color: #303030;
}

.cent,
.cit,
.st {
    font-size: 18px;
    color: #505050;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0;
    }

    .body {
        width: 100%;
    }

    .searchWrapper {
        flex-direction: column;
        align-items: stretch;
    }

    #searchBar {
        margin: 10px 0;
        width: 100%;
    }

    .btn {
        width: 80px;
        font-size: 14px;
        padding: 10px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .cent,
    .cit,
    .st {
        font-size: 10px;
        color: #505050;
    }

    #centersList {
        margin-top: 20px;
        width: auto;
    }

    .wrapper {
        display: flex;
        /* flex-direction: column; */
    }

    .search {
        width: auto;
    }

    .center,
    .city,
    .state {
        width: 20%;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }

    .searchWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #searchBar {
        margin: 0;
        width: 300px;
    }

    .btn {
        font-size: 16px;
        padding: 10px 15px;
        margin-right: 10px;
        margin-bottom: 0;
    }

    #centersList {
        margin-top: 40px;
    }
}

@media screen and (min-width: 1025px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
    }

    .searchWrapper {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    #searchBar {
        margin: 0 20px 0 0;
        width: 300px;
    }

    .btn {
        font-size: 16px;
        padding: 10px 20px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    #centersList {
        margin-top: 60px;
    }
}